.div-backGround{
    padding-left: 70px;
     padding-right: 70px;
      background-color: white;
     
      background-size: contain;
       opacity:70%;
        margin-top:80px;
        margin-left:100px;
        margin-right:100px;
        background-repeat: no-repeat;
        background-attachment: fixed;
         min-height: 100%;
         width: 100%;
         background-size: cover;
       

}