
.group-card {
   margin-left: 10px;
    width: 300px;
    margin-bottom: 8px;
    text-align: center;
   
  }
  .example-card {
    max-width: 400px;
  }
  .insert {
    background-color: #47aec1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-left: 0%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    //margin: auto
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  
  
