<!-- <div *ngIf="userName">
    <div *ngFor="let win of userName">
        {{win}}
    </div>
</div> -->
<div class=home-white>

    <div class="col-md-6">
        <button class="btn btn-info btn-md" (click)="showLogin(true)"><i class="fa fa-circle-o-notch fa-spin"></i>
            login</button>
        <button style="margin:10px" class="btn btn-info btn-md" (click)="showSignUp(true)"><i
                class="fa fa-circle-o-notch fa-spin"></i> add User</button>

        <button style="margin:10px" class="btn btn-info btn-md" (click)="showAddGroup(true)"
            [disabled]="addGroupAble"><i class="fa fa-circle-o-notch fa-spin"></i> add Group</button>
        winner:
        <div *ngFor="let win of winnersNames">
            {{win}}
        </div>
        winner groups:
        <div *ngFor="let win of winnerGroupsNames">
            {{win}}
        </div>

    </div>
    <app-group-list #groupList></app-group-list>
    <div>
        <p-dialog [(visible)]="displayAddGroup" [modal]="true" [responsive]="true" [minY]="70" [baseZIndex]="10000"
            [closable]="true">
            <div style="background-color:rgb(255, 255, 255)">
                <app-add-group (onAddGroup)="showAddGroup($event)"></app-add-group>
            </div>
        </p-dialog>
        <p-dialog [(visible)]="displayLogin" [modal]="true" [responsive]="true" [minY]="70" [baseZIndex]="10000"
            [closable]="true">
            <div style="background-color:rgb(255, 255, 255)">
                <app-login (onLogin)="onLoginClicked($event)"></app-login>
            </div>
        </p-dialog>
        <p-dialog [(visible)]="displaySignUp" [modal]="true" [responsive]="true" [minY]="70" [baseZIndex]="10000"
            [closable]="true">
            <app-add-user (onSignUp)="showSignUp($event)"></app-add-user>
        </p-dialog>


    </div>


</div>